.custom-bg {
    background-image: linear-gradient(to bottom,
            #00000088,
            #00000055),
        url("./assets/auth.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}